body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.search-field {
    width: 306px;
    padding: 5px;
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
    margin: 2px;
}

li:hover{
    cursor: pointer;
}


/********** Menu Burger *********/

.bm-burger-bars {
    background:black;
}
  
.bm-cross-button {
  height: 24px;
  width: 24px;
  padding: 15px;
  margin-right: 10px;
  margin-bottom: 2px;
}

  
.bm-menu {
  padding-top: 100px;
  background: white;
  font-size: 1.1em;
}

.bm-item-list {
  margin: auto;
  text-align: center;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 2vh;
    margin-right: 5px;
}

.bm-cross {
    background: #bdc3c7;
}